@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bgRegister {
    background-image: url('/src/images/registerbackground.jpg');
    background-size: cover;
    background-position: center;
  }